<script>
    $('#summernote').summernote({
        toolbar: [
            ['font', ['bold', 'underline', 'clear', 'italic']]
        ],
        height: 250,
        minHeight: 250,
        maxHeight: 290,
    });
</script>